/* CSS grid layout */
#full {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 100px;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
}

#header {
    grid-area: hd;
    text-align: center;
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main {
    grid-area: mn;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#091322,rgb(219, 222, 240));
    height: 40px;
    padding-top: 5px;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    margin: 0%;
}


/* CSS grid layout for desktop */
@media(min-width: 600px) {
    #full {
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas: 
        "hd hd hd"
        "mn mn mn"
        "ft ft ft"
    }

    #main {
        align-items: center;
    }

}