* {
    margin: 0;
    padding: 0;
}
body {
    background: url("https://thumbs.gfycat.com/HastyHilariousBluemorphobutterfly-size_restricted.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#full {
    color:rgb(129, 7, 89);
    font-size: 20px;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: rgb(135, 121, 173);
    border-style: solid;
    border-width: thick;;
    border-color: rgb(129, 7, 89);

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 19px;
    margin: 5px 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

h1 {
    font-size: 40px;
    color: rgb(135, 121, 173);
    text-shadow: #e3e4ec;
}

input {
    display: block;
    height: 30px;
    background-color: rgb(135, 121, 173);
    font-size: 15px;
    width: 99%;
}

#cur_date{
    color: #aaaaaf;
}

/* Style for Placeholder Text*/
::placeholder {  
    color: black;
} 

/*footer */
.links{
    padding-top: 5px;
    padding-bottom: 5px;
  }
.link-img {
width: 30px;
height: 30px;
opacity: 0.7;
margin: auto 10px;
}
.link-img:hover {
opacity: 1;
transform: scale(1.2);
}
.name{
padding-bottom: 3px;
}